<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add / Edit Reservations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Reservation </h1>
        </div>
    </div>

    <form th:action="@{/save-reservation}" th:object="${reservation}" method="post">
        <input type="hidden" th:value="${reservation.id}" name="id"/>
        <div class="form-group">
            <label for="name">Name:</label>
            <input th:field="*{name}" type="text" class="form-control" id="name">
            <label th:style="'color:red'" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input th:field="*{date}" type="text" class="form-control" id="date">
            <label th:style="'color:red'" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></label>
        </div>
        <a th:href="@{/reservations-ui}">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
</body>
</html>